<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/data/mongo 
                        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

	<bean name="fongo" class="com.github.fakemongo.Fongo">
		<constructor-arg value="InMemoryMongo" />
	</bean>
	<bean id="mongo" factory-bean="fongo" factory-method="getMongo" />

	<!-- Database -->
	<mongo:db-factory dbname="test" mongo-ref="mongo"
		id="mongoDbFactory" />
	<mongo:mapping-converter base-package="com.eaphone.common.datatables.samples.document"
		id="mongoConverter" db-factory-ref="mongoDbFactory" />

	<mongo:repositories base-package="com.eaphone.common.datatables.samples.repo"
		mongo-template-ref="mongoTemplate"
		factory-class="org.springframework.data.mongodb.datatables.repository.DataTablesRepositoryFactoryBean"></mongo:repositories>

	<mongo:template db-factory-ref="mongoDbFactory"
		converter-ref="mongoConverter" id="mongoTemplate" />

</beans>