<component name="ArtifactManager">
  <artifact type="war" name="spring-data-mongodb-datatables-samples:war">
    <output-path>$PROJECT_DIR$/spring-data-mongodb-datatables-samples/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-data-mongodb-datatables-samples</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-data-mongodb-datatables-samples-0.4.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-data-mongodb-datatables-samples:war exploded" />
    </root>
  </artifact>
</component>