<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-data-mongodb-datatables-samples:war exploded">
    <output-path>$PROJECT_DIR$/spring-data-mongodb-datatables-samples/target/spring-data-mongodb-datatables-samples-0.4.1-SNAPSHOT</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring-data-mongodb-datatables-samples</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-data-mongodb-datatables-samples" />
        </element>
        <element id="directory" name="lib">
          <element id="archive" name="spring-data-mongodb-datatables-0.4.1-SNAPSHOT.jar">
            <element id="module-output" name="spring-data-mongodb-datatables" />
          </element>
          <element id="library" level="project" name="Maven: org.projectlombok:lombok:1.16.20" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.9.5" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.9.0" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.9.5" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-web:2.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter:2.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-logging:2.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.2.3" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.2.3" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-to-slf4j:2.10.0" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-api:2.10.0" />
          <element id="library" level="project" name="Maven: org.slf4j:jul-to-slf4j:1.7.25" />
          <element id="library" level="project" name="Maven: javax.annotation:javax.annotation-api:1.3.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.yaml:snakeyaml:1.19" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-json:2.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.datatype:jackson-datatype-jdk8:2.9.5" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.datatype:jackson-datatype-jsr310:2.9.5" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.module:jackson-module-parameter-names:2.9.5" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-tomcat:2.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.tomcat.embed:tomcat-embed-core:8.5.31" />
          <element id="library" level="project" name="Maven: org.apache.tomcat.embed:tomcat-embed-el:8.5.31" />
          <element id="library" level="project" name="Maven: org.apache.tomcat.embed:tomcat-embed-websocket:8.5.31" />
          <element id="library" level="project" name="Maven: org.hibernate.validator:hibernate-validator:6.0.9.Final" />
          <element id="library" level="project" name="Maven: javax.validation:validation-api:2.0.1.Final" />
          <element id="library" level="project" name="Maven: org.jboss.logging:jboss-logging:3.3.2.Final" />
          <element id="library" level="project" name="Maven: com.fasterxml:classmate:1.3.4" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-data-mongodb:2.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.mongodb:mongodb-driver:3.6.3" />
          <element id="library" level="project" name="Maven: org.mongodb:bson:3.6.3" />
          <element id="library" level="project" name="Maven: org.mongodb:mongodb-driver-core:3.6.3" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-mongodb:2.0.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-commons:2.0.7.RELEASE" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.25" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot:2.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-autoconfigure:2.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: com.github.fakemongo:fongo:2.0.12" />
          <element id="library" level="project" name="Maven: org.mozilla:rhino:1.7.7.1" />
          <element id="library" level="project" name="Maven: com.vividsolutions:jts:1.13" />
          <element id="library" level="project" name="Maven: de.grundid.opendatalab:geojson-jackson:1.2" />
          <element id="library" level="project" name="Maven: org.webjars:datatables:1.10.19" />
          <element id="library" level="project" name="Maven: org.webjars:jquery:1.11.1" />
          <element id="library" level="project" name="Maven: org.webjars:webjars-locator:0.36" />
          <element id="library" level="project" name="Maven: org.webjars:webjars-locator-core:0.35" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-lang3:3.7" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-compress:1.9" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-data-mongodb-datatables-samples/target/spring-data-mongodb-datatables-samples-0.4.1-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-data-mongodb-datatables-samples/web/Web" />
    </root>
  </artifact>
</component>